.layout {
  width: 100%;
  height: 100%;
  background-color: transparent;
  .head {
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2px 8px #f2f3f5;
  }
  .content {
    background-color: #f2f3f5;
    overflow-y: auto;
  }
}
