.main {
  max-width: 1200px;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  padding-top: 20px;
  .left-fixed-tab {
    width: 180px;
    position: sticky;
    top: 20px;
    max-height: calc(100vh - 40px);
    overflow-y: auto;
    .fixed-tabs {
      background-color: #fff;
      padding: 8px 10px;
      border-radius: 4px;
      text-align: center;
      cursor: pointer;
      div {
        padding: 8px 0;
      }
      div:hover {
        background-color: #f7f8fa;
      }
      .active:hover,
      .active {
        background-color: #eaf2ff;
        color: #1e80ff;
      }
    }
  }
  .center-container {
    width: 720px;
    margin: 0 20px;
    background-color: #fff;
    border-radius: 4px;
    .container {
      // border-bottom: 1px solid @maingray;
      padding: 16px 20px 16px 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .container-title {
        display: flex;
        .container-title-item {
          margin: 0 16px;
          // color: @color-gray;
          cursor: pointer;
        }
        .container-title-item:hover {
          // color: @fontActive !important;
        }
        .container-title-item.active {
          color: #000;
          position: relative;
        }
        .active::before {
          display: block;
          content: "";
          position: absolute;
          bottom: -1rem;
          left: 30%;
          width: 40%;
          height: 3px;
          // background-color: @fontActive;
          border-radius: 2px;
        }
      }
    }
  }
  .right-other {
    width: 260px;
    .tag_item {
      width: 100%;
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 4px;
      background-color: #fff;
      color: #000;
    }
    .tag_item1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      > div {
        display: flex;
        flex-direction: column;
        .tag_item1-title {
          font-size: 12px;
          margin-top: 10px;
          // color: @color-gray;
        }
        > span {
          font-weight: 700;
        }
      }
    }
  }
}

.element-plus-tree {
  padding: 100px;

  :deep(.el-tree) {
    /* ---- ---- ---- ---- ^（节点对齐）---- ---- ---- ---- */
    .el-tree-node {
      /* ^ 所有节点 */
      i.el-tree-node__expand-icon {
        padding: 6px;

        &::before {
          font-family: element-ui-icons;
          font-style: normal;
          content: "\e6d9";
          color: #000000;
          border: 1px solid #606266;
          border-radius: 2px;
        }

        svg {
          display: none; // 隐藏所有节点的 svg 图标
        }
      }
      /* / 所有节点 */

      /* ^ 已展开的父节点 */
      i.el-tree-node__expand-icon.expanded {
        transform: rotate(0deg); // 取消旋转
        -webkit-transform: rotate(0deg); // 取消旋转

        &::before {
          font-family: element-ui-icons;
          font-style: normal;
          content: "\e6d8";
          color: #000000;
          border: 1px solid #606266;
          border-radius: 2px;
        }
      }
      /* / 已展开的父节点 */

      /* ^ 叶子节点 */
      i.el-tree-node__expand-icon.is-leaf {
        &::before {
          display: none;
        }
      }
      /* / 叶子节点 */

      /* ^ 复选框 */
      .el-checkbox {
        margin: 0 7px 0 2px;

        .el-checkbox__inner {
          width: 14px;
          height: 14px;
          border-radius: 2px;
          border: 1px solid #bbb;
        }

        .el-checkbox__input.is-checked .el-checkbox__inner,
        .el-checkbox__input.is-indeterminate .el-checkbox__inner {
          border: 1px solid #5e7ce0;
        }
      }
      /* / 复选框 */

      .el-tree-node__content {
        small {
          font-size: 13px;
        }
      }
    }
    /* ---- ---- ---- ---- /（节点对齐）---- ---- ---- ---- */

    /* ---- ---- ---- ---- ^（文字高亮）---- ---- ---- ---- */
    .el-tree-node.is-current {
      .el-tree-node__content {
        small {
          color: #5e7ce0;
        }
      }

      .el-tree-node__children {
        small {
          color: unset;
        }
      }
    }
    /* ---- ---- ---- ---- /（文字高亮）---- ---- ---- ---- */

    /* ---- ---- ---- ---- ^（新增辅助线）---- ---- ---- ---- */
    /* ^ 树节点 */
    .el-tree-node {
      position: relative;
      width: auto;
      // width: max-content; // 显示文字宽度
      padding-left: 13px;

      &::before {
        width: 1px;
        height: 100%;
        content: "";
        position: absolute;
        top: -38px;
        bottom: 0;
        left: 0;
        right: auto;
        border-width: 1px;
        border-left: 1px solid #b8b9bb;
      }

      &::after {
        width: 13px;
        height: 13px;
        content: "";
        position: absolute;
        z-index: 0;
        left: 0;
        right: auto;
        top: 12px;
        bottom: auto;
        border-width: 1px;
        border-top: 1px solid #b8b9bb;
      }

      .el-tree-node__content {
        position: relative;
        z-index: 1;
        color: #000;
        padding-left: 0 !important;

        /* ^ 复选框 */
        .el-checkbox {
          margin: 0 10px 0 5.5px;
        }
        /* / 复选框 */
      }

      .el-tree-node__children {
        padding-left: 12px;
      }

      &:last-child::before {
        height: 50px;
      }
    }
    /* / 树节点 */

    /* ^ 第一层节点 */
    > .el-tree-node {
      padding-left: 0;

      &::before {
        border-left: none;
      }

      &::after {
        border-top: none;
      }
    }
    /* / 第一层节点 */

    /* ^ 叶子节点 */
    i.el-tree-node__expand-icon.is-leaf {
      display: none;
    }
    /* / 叶子节点 */

    /* ^ 设置子节点左外边距 */
    .el-tree-node__content:has(.is-leaf) {
      // color: #00ffff;
      margin-left: 25px !important;
    }
    /* / 设置子节点左外边距 */
    /* ---- ---- ---- ---- /（新增辅助线）---- ---- ---- ---- */
  }
}
